
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Review Form </title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<div class="container mainbox">

  
    

 <form action="#" th:object="${bookId}" th:action="@{/books/reviews/save(bookId=${bookId})}" method="post">

        <!--<h6 th:inline="text">Review Book with Id [[${bookId}]] </h6>
        <p th:text="${bookTitle}"></p>-->
        <br>
        <h5 class="mb-3 text-success" th:inline="text" style="margin-top:50px"> Review the book " [[${bookTitle}]] ": </h5>
        <textarea name="comment" 
                           class="form-control mb-4 col-4" style="margin-top:30px"
                           placeholder="Please provide your review/comment in here..."></textarea>

        <button type="submit" class="btn btn-success col-2">Submit Review</button>
    </form>
    <hr>
    <br>
    <a th:href="@{/books/list}">Back to Books List</a>
</div>
</body>
</html>