
<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
</head>
<body>
<div class="container mb-5">
  
    <h5 class="mb-3 text-success" th:inline="text" style="margin-top:70px"> Please find the Reviews of the Book "       [[${bookTitle}]]        " </h5>

    <table class="table table-hover table-striped">
        <thead class="table-dark">
        <tr>
            <!--<th>Book Id</th>-->
            <!--<th>Book Name</th>-->
            <!--<th>Review Id</th>-->
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "currentReview : ${reviews}">

            <!--<td th:text=${currentReview.bookId}/>-->
            <!--<td th:text=${bookTitle} />-->
            <!--<td th:text=${currentReview.reviewID}/>-->
            <td th:text=${currentReview.comment}/>
        </tr>
        </tbody>
    </table>
    <hr>
    <a th:href="@{/books/list}">Back to Books List</a>
</div>
</body>
</html>